[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[packages]
bokeh = "*"
numpy = "*"
scipy = "*"
requests = "*"
pyaudio = "*"

[requires]
python_version = "3.7"
